{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="{% url 'details' pk=product.id %}" method='post' enctype="multipart/form-data" data-id="{{ product.id }}">
        {% csrf_token %}
        {{ form.media }}
        {% crispy form %}
    </form>
{% endblock %}
{% block extra_js %}
    <script src="{% static "products/js/product-edit.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
    </script>
{% endblock %}